
.thin {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.semi-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-style: normal;
}
.ant-modal .ant-modal-content {
  border-radius : 1rem;
}